<h4>Заявки кандидатов</h4>

<table class="striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Кандидат</th>
      <th>Вакансия</th>
      <th>Описание</th>
      <th>Статус</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {{#each apps}}
    <tr>
      <td>{{id}}</td>
      <td>{{user_id}}</td>
      <td>{{vacancy_id}}</td>
      <td>{{candidate_about}}</td>
      <td>{{status}}</td>
      <td>
        <form action="/admin/applications/status" method="POST" style="display:inline;">
          <input type="hidden" name="applicationId" value="{{id}}">
          <input type="hidden" name="status" value="rejected">
          <button class="btn-small red">Отклонить</button>
        </form>
        <form action="/admin/applications/status" method="POST" style="display:inline;">
          <input type="hidden" name="applicationId" value="{{id}}">
          <select name="testAssignmentId">
            {{#each ../assignments}}
              <option value="{{id}}">{{assignment_text}}</option>
            {{/each}}
          </select>
          <input type="hidden" name="status" value="test_assigned">
          <button class="btn-small green">Выдать ТЗ</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
