{{> backButton}}
<h4>Технические задания</h4>

<table class="striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Вакансия</th>
      <th>Название ТЗ</th>
      <th>Текст задания</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {{#each assignments}}
    <tr>
      <td>{{id}}</td>
      <td>{{vacancy_title}}</td>
      <td>{{title}}</td>
      <td>{{assignment_text}}</td>
      <td>
        <form action="/admin/test-assignments/delete" method="POST" style="display:inline;">
          <input type="hidden" name="id" value="{{id}}">
          <button
      class="btn-small red tooltipped"
      data-tooltip="Удалить"
      type="submit"
    >
      <i class="material-icons">delete</i>
    </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h5>Добавить задание</h5>
<form action="/admin/test-assignments/create" method="POST">
  <div class="input-field">
    <select name="vacancyId" required>
      <option value="" disabled selected>Выберите вакансию</option>
      {{#each vacancies}}
        <option value="{{id}}">{{title}}</option>
      {{/each}}
    </select>
    <label>Вакансия</label>
  </div>

  <div class="input-field">
    <input type="text" name="title" required />
    <label>Название задания</label>
  </div>

  <div class="input-field">
    <textarea name="assignmentText" class="materialize-textarea" required></textarea>
    <label>Текст задания</label>
  </div>
  <button class="btn">Добавить</button>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    M.FormSelect.init(elems);
  });
</script>
